<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="style.css">

    <title>Ethib</title>
</head>
<body>
    <header class="pageHeader">
        <section class="logo">
            ETHIB
        </section>
        <form method="GET" action="" class="search-box">
            <input type="text" class="search-input" placeholder="George Orwell">
            <input type="submit" class="search-button" value="&#128269;">
        </form>
        <nav class="navbar">
            <ul>
                <li class="nav__item"><a href="">Home</a></li>
                <li class="nav__item"><a href=""></a></li>
                <li class="nav__item"><a href="">Admin</a></li>
            </ul>
        </nav>
    </header>

    <footer>

    </footer>

    <script>

    </script>
</body>
</html>