/* https://flatuicolors.com/palette/ca */

html, body{
    margin: 0px;
    padding: 0px;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
}

.center{
    text-align: center;
}

.page-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #222f3e;
    color: #c8d6e5;
}

.logo{
    display: flex;
    padding: 10px;
    align-items: center;
    font-size: 35px;
    font-family: monospace;
}

.search-box {
    background: #576574;
    height: 20px;
    border-radius: 40px;
    padding: 10px;
}

.search-box:hover > .search-input {
    width: 240px;
    padding: 0 6px;
}

.search-button {
    border: none;
    background: none;
    outline: none;
    float: right;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.4s;
    padding: 0px 2px;
}

.search-input {
    border: none;
    background: none;
    outline: none;
    float: left;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 20px;
    width: 0px;
}

.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar ul{
    list-style: none;
    margin: 0px;
}

.nav__item{
    display: inline;
}

.nav__item a{
    color: #c8d6e5;
    text-decoration: none;
    padding-right: 10px;
}

.page-content{
    flex-grow: 2;
    width: 80%;
    margin: 0px auto;
    display: flex;
}

.page-footer{
    background-color: #222f3e;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-footer img{
    display: block;
    padding: 20px 0px;
}

.footer-content{
    text-align: center;
    color: #c8d6e5;
    font-family: monospace;
    margin-right: 5px;
}

.splitted-container{
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.splitted-container div{
    width: 50%;
}

.form-input{
    display: block;
    margin: 20px auto;
    border: none;
    outline-color: black;
    padding: 10px;
}

.form-button{
    border-radius: 10px;
    outline: none;
    font-size: 1em;
    padding: 7px;
    background-color:#ee5253;
    color: white;
}


.form-container{
    background-color: #eee;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.redirect-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #576574;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #fff;
}

.redirect-container a{
    text-decoration: none;
}

.error-banner{
    margin: 10px auto;
    color: red;
}